<h2>Welcome to book share world!</h2>

<table>
    <tr>
        <td>Search:</td>
        <td> <textarea></textarea></td>
        <td><button name="btnSearch">search</button></td>
    </tr>
</table>


